<a href="https://colab.research.google.com/github/olivia5/master_cse6040/blob/main/week07_session01_NB02_troubleshooting_pandas_dataframes_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Main topics covered during today's session:_

Previous NB:

1. **Pandas Functions:**
    
    a. Index operations
    
    b. Concat
    
    c. Merge
    
    d. Groupby and Aggregation

This NB:

2. **Troubleshooting pandas dataframes**

In [2]:
!wget https://raw.githubusercontent.com/gt-cse-6040/skills_oh_week_07/main/who3.csv
!wget https://raw.githubusercontent.com/gt-cse-6040/skills_oh_week_07/main/who3_soln.csv

--2023-10-12 11:37:06--  https://raw.githubusercontent.com/gt-cse-6040/skills_oh_week_07/main/who3.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2676500 (2.6M) [text/plain]
Saving to: ‘who3.csv’

who3.csv            100%[===================>]   2.55M  --.-KB/s    in 0.04s

2023-10-12 11:37:06 (61.1 MB/s) - ‘who3.csv’ saved [2676500/2676500]

--2023-10-12 11:37:07--  https://raw.githubusercontent.com/gt-cse-6040/skills_oh_week_07/main/who3_soln.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2600453 (2.5M) [text/plain]
Saving to: ‘who3_soln.csv’

who3_soln.csv       100%[===================>]   2.48M  --.-KB/s    in 0.06s

2023-10-12 11:37:07 (43.0 MB/s) - ‘who3_soln.csv’ saved [2600453/2600453]

*****************************************

# Troubleshooting pandas dataframes

*****************************************

## What we want to do is show some techniques for troubleshooting when our dataframe does not match the solution dataframe.

*Steps for today:*

1. We have the who3 and who3_soln dataframes, from Notebook 7.

2.  We will make a copy of the who3 dataframe and manipulate it a little bit.

3.  Also run the function to show that they are equivalent, at the start.

#### First, let's import the pandas library and define the functions.

The two functions below, canonicalize_tibble() and tibbles_are_equivalent(), are from the Notebook 7 solution.

In [3]:
import pandas as pd

### Remember that `Y` is in canonical order if it has the following properties.

1. The variables appear in sorted order by name, ascending from left to right.
2. The rows appear in lexicographically sorted order by variable, ascending from top to bottom.
3. The row labels (`Y.index`) go from 0 to `n-1`, where `n` is the number of observations.

In [1]:
def canonicalize_tibble(X):
    # Enforce Property 1:
    var_names = sorted(X.columns)
    Y = X[var_names].copy()

    ### BEGIN SOLUTION
    # Enforce Property 2:
    Y.sort_values(by=var_names, inplace=True)

    # Enforce Property 3:
    Y.reset_index(drop=True, inplace=True)
#     Y.sort_index(inplace=True)
    ### END SOLUTION
    return Y

#### Below is the tibbles_are_equivalent() function. The testing function on the exams is similar to this one.

#### However, there is one key difference between the two functions. It is that the testing code uses the Python function assert_frame_equal() to do the comparison. We will show how this works, and how you can use it in your debugging, below.

Here is the link to the documentation page for the function:  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.testing.assert_frame_equal.html

In [4]:
def tibbles_are_equivalent(A, B):
    """Given two tidy tables ('tibbles'), returns True iff they are
    equivalent.
    """
    ### BEGIN SOLUTION
    A_hat = canonicalize_tibble(A)
    B_hat = canonicalize_tibble(B)
    equal = (A_hat == B_hat)
    return equal.all().all()
    ### END SOLUTION

In [5]:
# bring in the two dataframes to work with
who3_soln = pd.read_csv('who3_soln.csv')
who3 = pd.read_csv('who3.csv')

#### Let's make a copy of our code output df to work with.

In [6]:
who3_skillsOH = who3.copy()

### What are the checks that assert_all_equal() does?

1. Checks for data types in the two dfs.
2. Checks the number of rows and columns in the two dfs.
3. Checks the column names in the two dfs.
4. Finally, compares the actual data in the two dfs.

#### Let's look at each one individually, and how to troubleshoot.

#### You can use this Pandas function to do your testing and troubleshooting, and we provide the code below that you can copy and paste into your notebooks to troubleshoot.

In [7]:
def pandas_troubleshoot(a,b):  # pass in the two dfs to compare as variables a and b
    from pandas.testing import assert_frame_equal

    def canonicalize_tibble(X, remove_index=True):
        var_names = sorted(X.columns)
        Y = X[var_names].copy()
        Y.sort_values(by=var_names, inplace=remove_index)
        Y.reset_index(drop=remove_index, inplace=remove_index)
        return Y

    a_hat = canonicalize_tibble(a)
    b_hat = canonicalize_tibble(b)
    try:
        assert_frame_equal(a_hat, b_hat, check_dtype=True,
                           check_index_type='equiv', check_column_type='equiv',
                           check_frame_type=True, check_names=True,
                           by_blocks=False, check_exact=False,
                           check_datetimelike_compat=False,
                           check_categorical=True, check_like=False,
                           check_freq=True, check_flags=True,
                           rtol=1e-05, atol=1e-08, obj='DataFrame')
        print('True')
        return True
    except AssertionError as e:
        print(e)
        return e

### We will now set up 4 dataframes, that exercise the 4 types of tests that assert_all_equal() does. The changed dataframes will all be named for the type of change/test we are exercising.

#### What we will do is change each df and run some code that shows you how to do individual checks for this test.

#### Then we will show how you can do this using the assert_all_equal() function, and let it tell you what has failed.

#### First, we will change a datatype.

https://www.geeksforgeeks.org/get-the-datatypes-of-columns-of-a-pandas-dataframe/

In [8]:
who3_skillsOH_type = who3_skillsOH.copy()
who3_skillsOH_type["count"] = who3_skillsOH_type["count"].astype(float)

In [9]:
display(who3_skillsOH_type.dtypes)
display(who3_soln.dtypes)

count        float64
country       object
year           int64
age_group     object
gender        object
type          object
dtype: object

count         int64
country      object
year          int64
age_group    object
gender       object
type         object
dtype: object

#### Second, we change the number of rows in the dataframe.
https://www.geeksforgeeks.org/count-the-number-of-rows-and-columns-of-pandas-dataframe/

In [10]:
who3_skillsOH_drop = who3_skillsOH.copy()
# Dropping last 10 rows using drop
who3_skillsOH_drop.drop(who3_skillsOH_drop.tail(10).index,inplace = True)

#note that printing the head() of the df does not tell you there is an error
print(who3_skillsOH_drop.head())
print(who3_soln.head())

   count  country  year age_group  gender type
0      7  Albania  2006      0-14  female   ep
1      1  Albania  2007      0-14  female   ep
2      3  Albania  2008      0-14  female   ep
3      2  Albania  2009      0-14  female   ep
4      2  Albania  2010      0-14  female   ep
   count  country  year age_group  gender type
0      7  Albania  2006      0-14  female   ep
1      1  Albania  2007      0-14  female   ep
2      3  Albania  2008      0-14  female   ep
3      2  Albania  2009      0-14  female   ep
4      2  Albania  2010      0-14  female   ep

In [11]:
# # fetching the number of rows and columns
rows_OH = who3_skillsOH_drop.shape[0]
cols_OH = who3_skillsOH_drop.shape[1]

rows_soln = who3_soln.shape[0]
cols_soln = who3_soln.shape[1]

# displaying the number of rows and columns
print("Rows OH: " + str(rows_OH))
print("Columns OH: " + str(cols_OH))
print("Rows soln: " + str(rows_soln))
print("Columns soln: " + str(cols_soln))

Rows OH: 76036
Columns OH: 6
Rows soln: 76046
Columns soln: 6

#### Third, we will change a couple of column names.

In [12]:
# # Change a couple of the column names in the new df, just to generate the error.
who3_skillsOH_colname = who3_skillsOH.copy()
who3_skillsOH_colname.rename(columns = {'country':'Country'}, inplace = True)
who3_skillsOH_colname.rename(columns = {'age_group':'age-group'}, inplace = True)

In [13]:
my_list = who3_skillsOH_colname.columns.values.tolist()
soln_list = who3_soln.columns.values.tolist()

for i,col_name in enumerate(my_list):
    if col_name != soln_list[i]:
        print('Column names do not match')
        print('My column name: ', col_name)
        print('Soln column nm: ', soln_list[i])

Column names do not match
My column name:  Country
Soln column nm:  country
Column names do not match
My column name:  age-group
Soln column nm:  age_group

#### Finally, let's change some values in the df.

In [14]:
# # let's change a few values in our skillsOH dataframe
who3_skillsOH_data = who3_skillsOH.copy()
# # make some data changes
who3_skillsOH_data.at[0, 'count'] = 6
who3_skillsOH_data.at[1, 'count'] = 2
who3_skillsOH_data.at[2, 'year'] = 2011
who3_skillsOH_data.at[3, 'year'] = 2012

In [15]:
# # note that the "self" df is the df that we are running compare on
# # and the "other" df is the one in the parenthesis (we are comparing to)
display(who3_soln.compare(who3_skillsOH_data))

# # align the differences on rows, just a different way of looking at the comparison
display(who3_soln.compare(who3_skillsOH_data,align_axis=0))

  count          year
   self other    self   other
0   7.0   6.0     NaN     NaN
1   1.0   2.0     NaN     NaN
2   NaN   NaN  2008.0  2011.0
3   NaN   NaN  2009.0  2012.0

         count    year
0 self     7.0     NaN
  other    6.0     NaN
1 self     1.0     NaN
  other    2.0     NaN
2 self     NaN  2008.0
  other    NaN  2011.0
3 self     NaN  2009.0
  other    NaN  2012.0

### Now let's use our pandas_troubleshoot() function to figure out what the error is.

In [16]:
a,b = who3_skillsOH_type,who3_soln   # data type differences of columns
result = pandas_troubleshoot(a,b)
result

Attributes of DataFrame.iloc[:, 1] (column name="count") are different

Attribute "dtype" are different
[left]:  float64
[right]: int64

AssertionError('Attributes of DataFrame.iloc[:, 1] (column name="count") are different\n\nAttribute "dtype" are different\n[left]:  float64\n[right]: int64')

In [17]:
a,b = who3_skillsOH_colname,who3_soln   # column names different
result = pandas_troubleshoot(a,b)
result

DataFrame.columns are different

DataFrame.columns values are different (50.0 %)
[left]:  Index(['Country', 'age-group', 'count', 'gender', 'type', 'year'], dtype='object')
[right]: Index(['age_group', 'count', 'country', 'gender', 'type', 'year'], dtype='object')

AssertionError("DataFrame.columns are different\n\nDataFrame.columns values are different (50.0 %)\n[left]:  Index(['Country', 'age-group', 'count', 'gender', 'type', 'year'], dtype='object')\n[right]: Index(['age_group', 'count', 'country', 'gender', 'type', 'year'], dtype='object')")

In [18]:
a,b = who3_skillsOH_drop,who3_soln   # differences in the number of rows of data
result = pandas_troubleshoot(a,b)
result

DataFrame are different

DataFrame shape mismatch
[left]:  (76036, 6)
[right]: (76046, 6)

AssertionError('DataFrame are different\n\nDataFrame shape mismatch\n[left]:  (76036, 6)\n[right]: (76046, 6)')

In [19]:
a,b = who3_skillsOH_data,who3_soln   # data differences
result = pandas_troubleshoot(a,b)
result

# Notice that we changed "count" and "year" above, but the error only returns for "count".
# The function returns the first column with errors, and you may need to run this multiple
# times, if you have multiple columns with data errors.

DataFrame.iloc[:, 1] (column name="count") are different

DataFrame.iloc[:, 1] (column name="count") values are different (0.00263 %)
[index]: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
[left]:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...]
[right]: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...]

AssertionError('DataFrame.iloc[:, 1] (column name="count") are different\n\nDataFrame.iloc[:, 1] (column name="count") values are different (0.00263 %)\n[index]: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]\n[left]:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...]\n[right]: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...]')